.example {
  font-size: 15px;
  
  color: blue;
 }
 form fieldset
	{
		float: center;
		width: 76%;
		background-color:#FEEEDD;  //fonde de la factura
		
		padding:10px;
		border-style:solid;
		border-width:2px;
		border-color:red;
	}
	
input[type='button']
    {
        border:none;
        padding:10px 20px;
        background-color:#2D69AC;
        color:black;
        font-weight: bolder;
        font-size: 20px;
		}
input[type='text']
	{
		border-color:BLUE;
		width:23%;
	
	
	
	}
